.container-btn {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 30px;
}

.btns {
    appearance: none;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #6474c470;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.btns:hover {
    color: #6474c4;
}

#left {
    left: -30px;
}

#right {
    right: -30px;
}